<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>02_hellomvc</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- session timeout(min) -->
  <!--  http://127.0.0.1:9090/mvc/  -->
  <session-config>
  	<session-timeout>30</session-timeout>
  </session-config>
  
  <!-- web.xml에 등록하면 Filter 모아보기가 가능하다 -->
  <filter>
  	<filter-name>LoggerFilter</filter-name>
  	<filter-class>common.filter.LoggerFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoggerFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>